<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
  </startup>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>

  <connectionStrings>
   
    <!--115.69.214.82-->
    <!--192.168.101.10-->

    <add name="DBEntities" providerName="System.Data.SqlClient" connectionString="Data Source=localhost;Trusted_Connection=True; Initial Catalog=TestDicomDb;Persist Security Info=False;Connection Timeout=1200; multipleactiveresultsets=true;" />
  
  
  </connectionStrings>
  
</configuration>